<?xml version="1.0"?>
<config>
    <modules>
        <Daffodil_Ajaxcart>
            <version>0.1.0</version>
        </Daffodil_Ajaxcart>
    </modules>
    <global>
        <helpers>
            <ajaxcart>
                <class>Daffodil_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
    <frontend>
  	<routers>
           <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Daffodil_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
    </routers>
   <layout>
            <updates>
                <ajaxcart>
                    <file>ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
</frontend>     
    <adminhtml>
            <acl>
                <resources>
                    <admin>
                        <children>
                            <system>
                                <children>
                                    <config>
                                        <children>
                                            <ajaxcart>
                                                <title>Daffodil Ajaxcart</title>
                                            </ajaxcart>
                                        </children>
                                    </config>
                                </children>
                            </system>
                        </children>
                    </admin>
                </resources>
            </acl>
       </adminhtml>
    <default>
        <ajaxcart>
            <all_settings>  
                <catalog_list_show>1</catalog_list_show>  
                <catalog_list_show>1</catalog_list_show>      
            </all_settings>
        </ajaxcart>
    </default>	 
</config>
